{# templates/admin/form/dropzone_theme.html.twig #}

{% block dropzone_widget %}
    {% set entity = attr['data-entity'] ?? null %}
    {% set entity_id = attr['data-entity-id'] ?? null %}

    {% if entity and entity_id %}
        <div
            class="dropzone"
            data-upload-url="{{ path('admin_upload_foto', { entity: entity, id: entity_id }) }}"
            data-entity="{{ entity }}"
            data-entity-id="{{ entity_id }}"
        ></div>
    {% else %}
        <div class="alert alert-info">
            Nejprve uložte záznam, pak lze nahrávat obrázky.
        </div>
    {% endif %}
{% endblock %}
